
<div class="center jumbotron">
  <h1>Welcome <%= @user.name %></h1>

  <h2>
    To play the game click on the button below :D
  </h2>

  <%= link_to "RoW Game", game_path, class: "btn btn-lg btn-primary" %>
<% if is_admin? %>
<%= link_to "Delete All Questions", deleteData_path, class: "btn btn-lg btn-primary" %>
  <%= form_tag importData_path, multipart: true do %>
  <%= file_field_tag :file, class: "btn btn-lg btn-primary" %>
  <%= submit_tag "Import CSV", class: "btn btn-lg btn-primary" %>
<% end %>
<% end %>
            <%= link_to "Log out", logout_path, method: "delete", class: "button icon-cancel-squared" %>

</div>

