<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
    <header>
<div class="row full-width center-parent" id="header2" >
  <div class="small-5 columns small-center">
    <h1 class="" style="font-size:45px">Rules On Wheels</h1>
  </div>
  <div class="small-6 columns small-centered" style:"vertical-align: bottom">
  <div class="top-bar-right" style:"vertical-align: bottom">
    <ul class="menu" style:"vertical-align: bottom">
      <% if logged_in? %>
       <li style="background-color:#f1c40f;color:#333;"><a class="" style="background-color:#f1c40f;color:#333;" href=<%=root_path%> id="playButton"><i class="icon-home"></i>Home</a></li>
        <li><a class="" href=<%=game_path%>  id="playButton"><i class="icon-gamepad"></i>Play</a></li>
        <li><a class="" href=<%=highscores_path%>  id="playButton"><i class="icon-up-bold"></i>Top 10</a></li>
        <li><a class="" href=<%=quiz_path%>  id="playButton"><i class="icon-doc-text"></i>Quiz</a></li>
        <li><%= link_to "Log out", logout_path, method: "delete", id: "playButton", class: "icon-cancel-squared"%></li>
    <% else %>
        <li><a class="" href=<%=root_path%> id="playButton"><i class="icon-home"></i>Home</a></li>
        <li><a class="" href=<%=login_path%> id="playButton"><i class="icon-lock"></i>Log in</a></li>
        <li><a class="" href=<%=signup_path%> id="playButton"><i class="icon-user-add"></i>Sign up</a></li>
    <% end %>
    </ul>
  </div>
  </div>
</div>
  </header>
  <body>
  		<h1 style = "color:black"><%= @user.name %></h1>
      <h1 style = "color:black">High Score: <%= @user.score %></h1>
    <div class="row section" id="about">
      <div class="large-3 columns small-centered"> 
        <h4 class="title center">About</h4>
      </div>
    </div>
    <div class="row section">
      <div class="large-12 columns">
        <div class="row">
          <div class="large-1 columns">
            <b style="font-size:60px"><i class="icon-info"></i></b>    
          </div>
          <div class="large-5 columns">
            <b>About the Game</b>
              <p>Lorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull you</p>
          </div>
          <div class="large-1 columns">
            <b style="font-size:60px"><i style = "color:red;" class="icon-steering-wheel"></i></b>
          </div >
          <div class="large-5 columns">
            <b style= "color:red;">Instructions</b>
            <p>Lorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull you</p>
          </div >
        </div>
      </div>
    </div>


    <div class="row expanded section" id="game">
      <div class="large-12 columns">



        <!-- PUT YOUR GAME INSIDE HERE-->




      </div>
    </div>
    
    <div class="row section" id="gwap">
      <div class="large-3 columns small-centered"> 
        <h4 class="title center">GWAP Cluster</h4>
      </div>
    </div>
    <div class="row section" id="gwapContent">
      <div class="large-12 columns">
        <div class="row">
          <div class="large-4 columns">
            <b style="font-size:40px"><i class="icon-info"></i></b>
            <br>
            <b>Who we are?</b>
            <p>Lorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull you</p>
          </div>

          <div class="large-4 columns">
            <b style="font-size:40px"><i class="icon-heart"></i></b>
            <br>
            <b>What we do?</b>
            <p>Lorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull you</p>
          </div>

          <div class="large-4 columns">
            <b style="font-size:40px"><i class="icon-gamepad"></i></b>
            <br>
            <b>How we do?</b>
            <p>Lorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull you</p>
          </div>
          
        </div>
      </div>
    </div>


    <div class="row footer section expanded" id="footer">
      <div class="large-12 columns">
        <p>Powered by the <b>GWAP</b> Cluster of the GUC</p>
      </div>
    </div>
  </body>
</html>

<div class="center jumbotron">
<% if is_admin? %>
<%= link_to "Delete All Questions", deleteData_path, class: "btn btn-lg btn-primary" %>
  <%= form_tag importData_path, multipart: true do %>
  <%= file_field_tag :file, class: "btn btn-lg btn-primary" %>
  <%= submit_tag "Import CSV", class: "btn btn-lg btn-primary" %>
<% end %>
<% end %>
</div>

