<!==<header class="navbar navbar-fixed-top navbar-inverse">
<title><%= full_title(yield(:title)) %></title>
<div class="row full-width center-parent" id="header2" >
  <div class="small-5 columns small-center">
    <h1 class="">Rules On Wheels</h1>
  </div>
  <div class="small-5 columns small-right">
      <% if logged_in? %>
        <a class="button" href=<%=root_path%> id="playButton"><i class="icon-home"></i>Home</a>
        <a class="button" href=<%=game_path%>  id="playButton"><i class="icon-gamepad"></i>Play</a>
        <%= link_to "Log out", logout_path, method: "delete", class: "button icon-cancel-squared" %>
    <% else %>
        <a class="button" href=<%=root_path%> id="playButton"><i class="icon-home"></i>Home</a>
        <a class="button" href=<%=login_path%> id="playButton"><i class="icon-lock"></i>Log in</a>
        <a class="button" href=<%=signup_path%> id="playButton"><i class="icon-user-add"></i>Sign up</a>
    <% end %>
  </div>
</div>
<!==</header>
